.card {
    display: inline-block;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    background-color: #FF6060;
}

.card:hover {
    background-color: #FFB6B6;
    box-shadow: 0 0 10px #000;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card-body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.Banner {
    display: flex;
    justify-content: center;
}

.hero {
    height: 20vh;
    width: 80vw;
    margin: 3rem;
}

.card-img-top {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.card-body a {
    display: flex;
    align-self: bottom;
    height: 6vh;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}


@media only screen and (max-width: 680px) {
    .card {

        margin: 1rem;
        padding: 1rem;
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
    }

    .hero {
        height: 10vh;
        width: 90vw;
        margin: 1rem;
    }

    .card-img-top {
        height: 30vh;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
    }

    .card-body a {
        height: 4vh;
        font-size: 0.8rem;
    }
    .card-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
